.container {
    position: relative;
    padding-top: 5px;
    display: flex;
    font-family: 'Mulish';
    & .videoContainer {
        position: relative;
        height: 250px;
        & img {
            max-width: 540px;
            object-fit: cover;
            position: relative;
            border-radius: 14px;
        }
        & .time {
            position: absolute;
            padding: 3px 9px;
            background-color: rgba(0,0,0,0.3);
            border-radius: 12px;
            font-size: 14px;
            color: #FFF;
            right: 10px;
            bottom: 10px;
        }
    }
    & .text {
        padding: 18px 0 15px 32px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        & .title {
            padding-right: 30px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 34px;
            color: #19202C;
        }
        & .description {
            padding-top: 9px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.6;
        }
        & .info{
            justify-self: flex-end;
            display: flex;
            height: 100%;
            & span {
                align-self: flex-end;
                width: 100%;
            }
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #C2C2C2;
        }
    }
}