.container {
    & .videoContainer {
        display: flex;
        flex-direction: column;
        row-gap: 13px;
        & .text {
            position: relative;
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            padding: 0 16px;
            & .arrow {
                position: absolute;
                top: 6px;
                right: 20px;
            }
            & h2 {
                max-width: 70%;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                color: #192646;
            }
            & .info {
                display: flex;
                position: relative;
                flex-direction: column;
                row-gap: 20px;
                align-items: flex-start;
                & span {
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #C2C2C2;
                    padding-top: 2px;
                }
                
            }
            
        }
        &  .controllers {
            padding-left: 16px;
            padding-top: 7px;
            &::-webkit-scrollbar {
                display: none;
            }
            overflow-x: scroll;
            display: flex;
            align-items: center;
            column-gap: 10px;
            & button {
                font-family: 'Mulish';
                min-width: 100px;
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 8px;
                outline: 0;
                border: 0;
                padding: 8px 16px;
                border-radius: 20px;
                background: rgba(235, 235, 235, 0.3);
                & span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #192646;
                    padding: 0;
                }
            }
            & .more {
                padding-left: 30px;
            }
        }
    }
    
    & .authorInfo {
        padding: 20px 4px 20px 0;
        margin: 30px 16px 20px;
        font-family: 'Mulish';
        font-style: normal;
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);
        border-top: 1px solid rgba(216, 216, 216, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .author {
            display: flex;
            align-items: center;
            column-gap: 10px;
            & img {
                height: 50px;
                width: 50px;
            }
            & .text {
                display: flex;
                flex-direction: column;
                row-gap: 4px;
             
                & h2 {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #19202C;
                }
                & span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #C2C2C2;
                }
            }
           
        }
        & .subscribe {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FF0000;
        }
    }


    & .nextVideosContainer {
        padding: 0 16px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 13px;   
        & .title {
            display: flex;
            justify-content: space-between;
            & h2 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                color: #192646;
            }
            & .autoplay {
                display: flex;
                align-self: flex-end;
                align-items: center;
                column-gap: 11px;
                padding-bottom: 1px;
                & span {
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 13px;
                    letter-spacing: 0.625px;
                    text-transform: uppercase;
                    color: #19202C;
                }
            }
        }
    }
}