.container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: max-content;
    padding-top: 2px;
    & .title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #C2C2C2;
    }
    & .recommendedChannel {
        display: flex;
        align-items: center;
        column-gap: 20px;
        & h2 {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #19202C;
        }
    }
}